<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<div class="container">
  <body>
   <%= render(:partial => 'application/navigation') %>
   <div class="row">
    <%= yield %>
   </div>
   <%= render(:partial => 'application/footer') %>

  </body>

</div>

</html>
